In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import trend_finder as tf
import ml_models as ml
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics, svm
from imblearn.over_sampling import RandomOverSampler

# Run a test looking for stock price increases and decreases of percent, 30 days out
- Record 60 trading days before the trend
- use those 60 trading days as features

In [31]:
tesla = tf.Historydf('TSLA', 30, 5, 60)

In [32]:
tesla.df

           Open       Close     Volume
0    126.599335  125.806000  247117500
1    124.333336  125.235336  183079500
2    124.045334  133.455338  309177000
3    136.317337  136.665329  322344000
4    141.751999  134.279999  300954000
..          ...         ...        ...
751  235.699997  239.759995   98595300
752  238.729996  232.960007   88197600
753  228.020004  225.600006  112484500
754  226.059998  219.220001  120237700
755  214.119995  214.970001   98086569

[756 rows x 3 columns]

# Find trends, enter [Buy/Sell] classifier, and create new dataframe

In [33]:
tesla.find_trends()

start index = 59, end index = 726

In [35]:
tesla.pretrends_df

             Open       Close       Volume Buy/Sell
0      214.119995  214.970001   98086569.0      NaN
1      126.599335  125.806000  247117500.0      NaN
2      124.333336  125.235336  183079500.0      NaN
3      124.045334  133.455338  309177000.0      NaN
4      136.317337  136.665329  322344000.0      NaN
...           ...         ...          ...      ...
33415  258.029999  257.500000  131283400.0      NaN
33416  260.600006  261.769989  112267600.0      NaN
33417  276.489990  279.820007  119685900.0      NaN
33418  278.820007  282.480011  131530900.0      NaN
33419  278.089996  276.540009  120332100.0        0

[33420 rows x 4 columns]

# Structure the data in preperation for training model and normalize the values

In [36]:
tesla.structure_data()

In [37]:
tesla.structured_df

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,Buy/Sell
0,0.991897,0.157572,0.135971,0.133225,0.250213,0.302021,0.205809,0.259898,0.336454,0.409323,...,0.038709,0.009811,0.215022,0.075601,0.130693,0.107867,0.069332,0.000000,0.135667,1
1,0.288420,0.248880,0.243855,0.457989,0.552818,0.376711,0.475717,0.615844,0.749223,0.665387,...,0.009811,0.215022,0.075601,0.130693,0.107867,0.069332,0.000000,0.135667,0.088655,1
2,0.248880,0.243855,0.457989,0.552818,0.376711,0.475717,0.615844,0.749223,0.665387,1.000000,...,0.248781,0.115357,0.168079,0.146235,0.109357,0.043007,0.172839,0.127849,0.000000,1
3,0.243855,0.457989,0.552818,0.376711,0.475717,0.615844,0.749223,0.665387,1.000000,0.865352,...,0.115357,0.168079,0.146235,0.109357,0.043007,0.172839,0.127849,0.000000,0.024700,1
4,0.457989,0.552818,0.376711,0.475717,0.615844,0.749223,0.665387,1.000000,0.865352,0.447973,...,0.168079,0.146235,0.109357,0.043007,0.172839,0.127849,0.000000,0.024700,0.023870,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,0.364765,0.309250,0.248510,0.222875,0.277982,0.311046,0.247530,0.255613,0.274961,0.281737,...,0.639887,0.623992,1.000000,0.634288,0.713324,0.741057,0.618757,0.576444,0.344522,0
553,0.309250,0.248510,0.222875,0.277982,0.311046,0.247530,0.255613,0.274961,0.281737,0.216018,...,0.623992,1.000000,0.634288,0.713324,0.741057,0.618757,0.576444,0.344522,0.189711,0
554,0.239346,0.214656,0.267731,0.299575,0.238402,0.246186,0.264822,0.271348,0.208052,0.106385,...,1.000000,0.634288,0.713324,0.741057,0.618757,0.576444,0.344522,0.189711,0.250105,0
555,0.210259,0.262246,0.293438,0.233518,0.241143,0.259396,0.265789,0.203789,0.104205,0.093654,...,0.634288,0.713324,0.741057,0.618757,0.576444,0.344522,0.189711,0.250105,0.346537,0
556,0.262246,0.293438,0.233518,0.241143,0.259396,0.265789,0.203789,0.104205,0.093654,0.092498,...,0.713324,0.741057,0.618757,0.576444,0.344522,0.189711,0.250105,0.346537,0.255366,0

# Run logistic regression

In [38]:
tesla_lr = ml.logistic_regression('Tesla')

In [39]:
tesla_lr.train_model(tesla.structured_df)

The testing accuracy is: 0.62
Coefficients:
 [[ 0.31476606 -0.09766818 -0.18871591  0.16632536  0.57363771 -0.745685
  -0.04629937 -0.35469253  0.34418044  0.03953948  0.29579623  0.17149206
  -0.15032408  0.01144455 -0.16326467 -0.28726923 -0.14194824  0.46614978
   0.25600698  0.06315962 -0.10438999 -0.19049212  0.00454959  0.57645033
   0.03332131  0.10588418  0.25113783  0.40992015 -0.07323598  0.18245079
   0.06883561  0.1261428   0.20957249 -0.18009581 -0.15041678  0.02177754
   0.11402885  0.41333828  0.43106949 -0.13655046 -0.09261732  0.1473362
  -0.28009766 -0.30740213 -0.43351991 -0.37623874 -0.0118674  -0.47129821
  -0.15088231 -0.14295074 -0.59908284  0.06766404 -0.43585372  0.02028604
  -0.26323314 -0.09289212 -0.08633409 -0.61530012  0.05324047  0.07378029
   0.35899785  0.3042472  -0.08227166  0.09977955 -0.41674175 -0.4957603
  -0.6101009   0.03484692 -0.54707278  0.09522722 -0.22192043 -0.46130805
  -0.10656784  0.06919608 -0.42856325 -0.19809409  0.07289678  0.39869953
  -0.26610338  0.11386861 -0.40393254  0.30058031  0.11776214 -0.41120438
  -0.25524733 -0.35530208  0.05142734 -0.49780038 -0.07818662 -0.69794623
  -0.24177454 -0.28462489 -0.42991085 -0.33275513 -0.32592269 -0.08075066
   0.12198252  0.14290571 -0.0815309  -0.36175849 -0.19352654 -0.04164642
  -0.17057049  0.13733157 -0.11435774  0.17689321  0.06137584  0.34124002
   0.04193053 -0.14676064 -0.1127113  -0.31043095  0.16132999 -0.06077717
   0.07914448 -0.27180573 -0.85509179 -0.0113657  -0.0907633   0.54842318
   0.51998466  0.61235983  0.47035625  0.33068128  0.33543496  0.31803863
   0.47353083  0.38629025  0.67318389 -0.13495695  0.31687163 -0.02549602
   0.31578498  0.5128222   0.14835756  0.16912168 -0.04202017  0.1775843
   0.06006019 -0.20250195  0.08347273 -0.21603266 -0.17556333  0.13953912
   0.0761951   0.34635155  0.12880661  0.23219749  0.05815371 -0.08195673
  -0.29470657 -0.17402782  0.05880876 -0.19842765 -0.05028272 -0.52602211
  -0.52573115 -0.28419915 -0.1916078  -0.3418012  -0.09609221  0.38606875
  -0.4213985  -0.58875193 -0.30406231 -0.1136488   0.33545613  0.23754369
  -0.39184657  0.39318501  0.33837506  0.29620574  0.15576682  0.63039013
  -0.2664286  -0.67333847  0.184148    0.11920644 -0.16143385  0.31254492]]

(LogisticRegression(solver='liblinear'), 0.6232876712328768)